streamlit
ollama
pyyaml
setuptools~=75.9.1
langchain-core~=0.3.43
langchain-community
langchain
langchain-text-splitters
requests~=2.32.3
langchain-anthropic~=0.3.9
langgraph~=0.3.5
chromadb~=0.6.2

# Added dependency for custom CSS rendering (if needed)
streamlit-html-components
pymilvus
sentence-transformers

# Carbon Design System dependencies
streamlit-elements